
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?auto=format&fit=crop&w=1600&q=80') no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0;
}


header {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #d5a021;
}

nav {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 10px;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color:cadetblue;
}


.hero {
    padding: 140px 20px;
    text-align: center;
     background: rgba(0, 0, 0, 0.45); 
    backdrop-filter: blur(4px);
    color: #e0e0e0;
    text-shadow: 0 0 15px #000;
}

.hero h2 {
    font-size: 48px;
    color:rgb(216, 171, 112)
}
.hero p{
    color:black;
    font-size: px;
}


section {
    padding: 50px;
    max-width: 900px;
    margin: auto;
}

.dark-section {
    background: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform .4s, box-shadow .4s;
}

.gallery-item img:hover {
    transform: scale(1.08);
    box-shadow: 0 0 18px #d5a021;
}


.flip-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flip-card {
    width: 200px;
    height: 250px;
    perspective: 1000px;
}

.flip-inner {
    width: 100%;
    height: 100%;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.flip-front {
    background: #111417;
    border: 2px solid #d5a021;
}

.flip-back {
    background: #d5a021;
    color: #12161c;
    transform: rotateY(180deg);
}


footer {
    text-align: center;
    padding: 15px;
    background: rgba(0,0,0,0.7);
    border-top: 2px solid #d5a021;
}
